body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex-grow: 1;
}

.cards {
    margin-bottom: 90px;
}

.wall {
    background-img: ;
}

.ThatForm {
    display: flex;
    justify-content: center;

}


.Wiggle>* {
    display: flex;
    max-width: 50%;
    justify-content: center;
}

.thatdamnbutton {
    align-items: flex-end;
}

.button-round {
    border-radius: 50% !important;
    font-size: 20px;
}